<!DOCTYPE html>
<html>

<!-- build:include ../../html-templates/head_tag.html -->
<!-- /build -->


<link rel="stylesheet"
      href="style.css" />


<body>
    <div>

        <h1>Shards and Fragments</h1>

        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "loop": "true",
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/osterman.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>Osterman</h2>
                    <p>
                      Osterman brings us his unnamed symbol. Here we learn the relationship between time and distance. Insight is gained by understanding the interplay between these two dimensions.
                    </p>
                    <q>Does the human heart know chasms so abysmal?</q>
                    <p class="authorname">―Osterman</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr>


            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "loop": "true",
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/steps.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>The Upward Steps</h2>
                    <p>
                        The fundamental process for growth. The steps present the binary option to move forward or to pause and ponder. Pausing will always take place. It is simply a matter of time before the subject move forward once more.
                    </p>

                    <q>The first step was awareness. The second, acceptance.</q>
                    <p class="authorname">―Evindal Ylladithas</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr>

            <!-- 
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "loop": "true",
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/machine.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>Urza's Machine</h2>
                    <p>
                      Urza's
                    </p>

                    <q>What a waste of time this is.</q>
                    <p class="authorname">―Author</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr/> -->


            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/null.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>the nothing</h2>
                    <p>
                        Pure and complete emptiness. Its paradoxical non-existncae exists even without darkness. The nothing allows everything else to take name and form.
                    </p>
                </div>
                <div class="col-sm-4"
                     id="target"></div>
            </div>
            <hr/>



            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/one.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>The One</h2>
                    <p>
                        The one is said to be the linear opposite of <em>the nothing</em>. The mystery of the one is its mere existance. One folds unto itself endlessly and creates the <em>ten thousand things</em>.
                    </p>
                </div>
                <div class="col-sm-4"
                     id="target"></div>
            </div>
            <hr/>



            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/tao.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>duality</h2>
                    <p>
                        The speaker enters the dimension of hearing. Duality forms into a infinite process of giving and receiving. The opposite of duality is non-duality--a state of one-ness.
                    </p>
                </div>
                <div class="col-sm-4"
                     id="target"></div>
            </div>
            <hr/>


            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/split.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>harmonic split</h2>
                    <p>
                        The harmonic or 'balanced' split is the subject's healthy state of being. An equilibrium is achieved and nurtured.
                    </p>
                </div>
                <div class="col-sm-4"
                     id="target"></div>
            </div>
            <hr/>



            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/diag_split.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>unbalanced split</h2>
                    <p>
                        A psychological split of sanity. The subject is seen altered and no longer in balance. Fear is the precursor this state is typically permanent.
                    </p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr/>


            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/_10000.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>Ten Thousand Things</h2>
                    <p>
                        The ten thousand things is born from <em>the one</em>.
                    </p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr/>




            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/false_moon.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>False crescent moon</h2>
                    <p>
                        The false crescent moon is a trickster. To the unaware, it appears to reflect good. Even some masters have fallen for its enchantment―trapping them in the bounds of time with dark magic.
                    </p>
                    <q>We ran as if to meet the moon.</q>
                    <p class="authorname">― Eukithor Frost</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr/>



            <!-- -->
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/flow.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>flux &amp; flow</h2>
                    <p>
                        Found throughout almost every symbol―sometimes in the smallest degrees. Flux and flow brings peace and harmony into all it touches. It is a state of neverending change and progression.
                    </p>

                    <q>The flux &amp; flow stops for no being</q>
                    <p class="authorname">― Jarar Vernec</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
            <hr />




            <!--
            <div class="row">
                <div class="col-sm-4">
                    <textarea class='glsl-code'
                              data-params='{
                              "width":300,
                              "height":480,
                              "loop": "true",
                              "CodeMirror":{"lineNumbers":"false"}}'
                              data-example='code/_test.glsl'>
                    </textarea>
                </div>
                <div class="col-sm-4">
                    <h2>Querent</h2>
                    <p>
                      Two lovers unite into a new form. This gravitational merging brings together new challlenges and opportunities for growth. Note that at the apex of the unification we find the <em>egg</em>.
                    </p>

                    <q>Gravitation is the lust of the cosmos.</q>
                    <p class="authorname">―Tuama Ó Máille</p>
                </div>
                <div class="col-sm-4 test">
                    <div id="target"></div>
                </div>
            </div>
        <hr />
        -->

        </div>
    </div>

    <!-- build:include ../../html-templates/footer.html -->
    <!-- /build -->

</body>

</html>