/*
  Andor Saga
*/

@font-face {
  font-family: "angel";
  src: url('fonts/ang.ttf');
}

body {
  background-color: #000;
  background-image: none;
  color: #fff;
  font-family: cursive;
  font-size: 1rem;
  margin: 40px 0;
}

h1,
h2 {
  color: #d7cb66;
  font-family: angel;
  font-size: 3em;
  margin: 1em 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(83, 81, 196);
}

h2 {
  text-transform: capitalize;
}

.container {
  margin: 0 auto;
}

q {
  color: #aaa;
  font-size: .8rem;
}

.author-name {
  color: white;
  font-size: .8rem;
}

canvas {
  border: 1px solid #fff !important;
  /*border-radius: 15px;*/
  box-shadow: 1px 1px 5px grey;
  position: absolute;
  transition: .35s ease all;
}

canvas:hover {
  transform: scale(1.25);
  transition: .35s ease all;
}

p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

hr {
  margin: 40px auto;
  border-top: 2px solid #433e14;
}


em {
  color: #d7cb66;
}

.cm-s-default .cm-number,
.cm-s-default .cm-keyword,
.cm-error,
.cm-s-default {
  border-radius: 15px;
  color: black !important;
  font-size: 8px;
}

/*
    For some reason if we want to set a min height
    to codeMirror, we also cannot display the scrollbar
*/
.CodeMirror-hscrollbar,
.CodeMirror-vscrollbar {
  display: none !important;
}

.CodeMirror-scroll {
  height: 480px;
  overflow: none !important;
}

.CodeMirror:hover {
  box-shadow: 1px 1px 5px #aaa;
  transform: scale(1.25);
  z-index: 10;
}

.CodeMirror,
.CodeMirror .cm-s-default {
  
  /*display: block;*/
  display:none;
  
  transition: 0.8s ease all;
  box-shadow: 1px 1px 5px #aaa;
  min-width: 300px !important;
  max-width: 300px !important;
}