/*
  Andor Saga
*/

body {
  background-color: #fefefe;
  color: #333;
  font-family: verdana;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 50px 50px 50px;
}

#content {
  padding: 0 100px;
}

code {
  font-family: monospace;
  padding: 4px;
}

a code {
  background-color: #D6E0EA;
  font-style: normal;
}

pre {
  font-size: 16px;
}

ul.exercises li {
  margin-top: 20px;
}

p {
  max-width: 600px;
}

em {
  font-style: normal;
  font-weight: bold;
}

span.keyword {
  color: purple;
  font-family: monospace;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: cursive;
  line-height: 20px;
  margin-left: -20px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
  display: inlin;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 20px;
}


hr {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 500px;
}

.title {
  color: #369;
  font-family: cursive;
  font-size: 45px;
  margin-bottom: 80px;
  text-align: center;
}

a {
  color: #369;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  transition: .25s ease-in;
}

a:hover {
  color: #000;
  transition: .25s ease-in;
}

.advanced {
  display: block;
  border: 1px solid #888;
  background-color: #efefef;
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
  /*max-width: 50%;*/
}

.advanced span {
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: super;
}

.icon {
  width: 20px;
  display: inline-block;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline;
  margin: 40px;
}

.CodeMirror,
.CodeMirror .cm-s-default {
  /*display: inline-block;*/
  display: none;
  height: auto !important;
}

.line-highlight {
  background-color: #e9ffb7;
}

textarea~div {
  display: none;
}

div canvas {
  border: 1px solid #0f0;
  vertical-align: top;
}

img.centered {
  display: block;
  margin: 0 auto;
}